<li id="activity-<%= activity.id %>">
  <div>
    <%= render "activities/user_#{activity.name}", user: activity.user,
                                        target: activity.target %>
  </div>
  <span class="timestamp">
    <%= time_ago_in_words(activity.created_at) %> ago.
  </span>
</li>
